body{
    background-color: #2d4159;
}
.navbar-custom{
    background-color: #59253a;
}
ul li{
    cursor: pointer;
}
.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: #0677a1 !important;
}

.btn-primary:hover {
  background-color: #488fa8 !important;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
}

.btn-danger,
.btn-danger:active,
.btn-danger:visited{
  background-color: #78244c !important;
}

.btn-danger:hover{
  background-color: #a34171 !important;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
}

.btn-info:hover,
.btn-info:active,
.btn-info:visited{
  background-color: #78244c !important;
}

.btn-info:hover{
  background-color: #a34171 !important;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
}

